/*** XML demonstration ***/

product:before {
    display: block;
    width: 8em;
    font-weight: bold;
    font-size: 200%;
    content: "Clothes";
    margin: -.75em 0px .25em -.25em;
    padding: .1em .25em;
    background-color: rgb(143, 16, 105);
    color: white;
    }
  
  product {
    display: block;
    margin: 2em 1em;
    border: 4px solid rgb(143, 16, 105);
    padding: 0px 1em;
    background-color: white;
    }
  
  clothes {
    display: block;
    margin-bottom: 1em;
    }
  
  name {
    display: block;
    font-weight: bold;
    font-size: 150%;
    }
  
  price {
    display: block;
    }
  
  price:before {
    content: "Price: ";
    }
  
  description {
    display: block;
    }
  
  description:before {
    content: "Description: ";
    }